
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Smooch+Sans:wght@100..900&family=Tektur:wght@400..900&display=swap');


.container {
    width: 100%;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    z-index: 100; 
    background: var(--dark); 

}

.container section {
    position: relative;
    z-index: 100;
    padding: var(--spacing-xl) var(--spacing-md);
    background: var(--dark);
}

.bts-word {
    width: 100%;
    color: var(--cream);
    /* font-family: "Roslindale display condensed" ; */
    font-size: 48vw;
    font-weight: 400;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    line-height: 0.9;
    white-space: nowrap;
}

.wrapper-bts {
    position: relative;
    width: 400vw;
    height: 100vh;
    will-change: transform;
}

.card {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    will-change: transform;
    z-index: 5;
    /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.1); */
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}




#card-1 {
  top: 18%;
  left: 60vw;
}

#card-2 {
  top: 62%;
  left: 85vw;
}

#card-3 {
  top: 28%;
  left: 115vw;
}

#card-4 {
  top: 72%;
  left: 145vw;
}

#card-5 {
  top: 20%;
  left: 190vw;
}

#card-6 {
  top: 58%;
  left: 240vw;
}

#card-7 {
  top: 32%;
  left: 320vw;
}




@media (max-width: 768px) {
    .bts-word {
        font-size: clamp(15vw, 60vw, 400px);
    }
    
    .card {
        width: 150px;
        height: 150px;
    }
    
    .card-1 {
        top: 10%;
        left: 5vw;
    }
    
    .card-2 {
        top: 65%;
        left: 60vw;
    }
    
    .card-3 {
        top: 15%;
        left: 160vw;
    }
    
    .card-4 {
        top: 60%;
        left: 260vw;
    }
}

@media (max-width: 480px) {
    .card {
        width: 150px;
        height: 150px;
    }
}